$buttonColor: rgba(108, 99, 255, 0.8);
$buttonClickColor: rgba(108, 99, 255, 1);
$selectedColor: #f4f3ff;

$componentBackgroundColor: #f2f4f7;
$accentBackgroundColor: #e0d7f9;
$borderColor: #ececee;

$tableHeaderColor: #f9f9fd;

$textTitleColor: #2a2a2a;

$textColor: #344054;
$textGreyColor: #8c8e90;

$fontFamily: 'Inter', sans-serif;

$boxShadow: 0 4px 8px rgba(16, 24, 40, 0.2);
