// @import 'src/scss/variables.scss';
.container {
  animation: slideIn 1s ease;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h3 {
  margin: 10px 0px 25px 0px;
  font-size: 28px;
  font-weight: 500;
  color: $textColor;
}

.avatar {
  display: flex;
  align-items: center;
  height: 100px;
  width: 250px;
  border: 2px solid $borderColor;
  border-radius: 16px;
  margin-bottom: 25px;

  img {
    width: 64px;
    height: 64px;
    margin: 16px;
  }

  p {
    margin: 0;
  }

  .text {
    color: $textColor;
    font-size: 18px;
    margin-bottom: 7px;
  }

  .description {
    color: $textGreyColor;
    font-size: 14px;
  }
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 20px 20px;

  .form {
    border: 2px solid $borderColor;
    border-radius: 16px;
    padding: 24px;

    h4 {
      color: $textColor;
      font-size: 18px;
      margin: 0 0 20px 0;
      padding: 0;
    }

    p {
      color: $textGreyColor;
      font-size: 14px;
      margin: 0 0 6px 0;
      padding: 0;
    }

    input {
      background-color: $componentBackgroundColor;
      color: $textColor;
      border: none;
      border-radius: 8px;
      padding-left: 10px;
      font-size: 14px;
      margin-bottom: 10px;
      height: 40px;
      width: 100%;
      margin: 0 0 20px 0;
      outline: none;
    }
  }

  .rightItem {
    height: 35px;
    display: flex;
    // flex-direction: column;
    justify-content: end;
    grid-column: 2;
  }
}

.button {
  width: 150px;
  height: 35px;
  background-color: #c6c7f8;
  color: #5856d6;
  border: none;
  border-radius: 8px;

  &:active {
    background-color: #5856d6;
    color: #c6c7f8;
  }
}

.cancelButton {
  width: 150px;
  height: 35px;
  background-color: $componentBackgroundColor;
  color: $textColor;
  border: none;
  border-radius: 8px;
  margin-right: 10px;

  &:active {
    background-color: $textColor;
    color: $componentBackgroundColor;
  }
}
