.container {
  //   width: 100%;
  position: relative;
  animation: slideIn 0.5s ease;

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  header {
    border-bottom: 3px solid $borderColor;
    margin: 0px 0px 25px 0px;

    h1 {
      margin: 10px 0px 25px 0px;
      font-size: 28px;
      font-weight: 500;
      color: $textTitleColor;
    }
  }

  body {
    width: 98%;
    flex-direction: column;
    padding: 16px;
    border-radius: 20px;
    background-color: $componentBackgroundColor;
    overflow-x: auto;

    h2 {
      color: $textColor;
      font-size: 18px;
      margin: 0 0 20px 0;
      padding: 0;
    }
  }
}
